{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liability Insurance</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'form/form.css' %}" >
        <!--script src="{% static 'form/form.js' %}"></script -->
        <!-- Bootstrap CSS-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <!-- Font Awesome & Pixeden Icon Stroke icon font-->
    <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google fonts - Roboto Condensed & Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400">
    <!-- lightbox-->
    <link rel="stylesheet" href="{% static 'dashboard/css/lightbox.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'dashboard/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'register/css/style3.css' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9] -->
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="home">

			<!-- Messages ---------->
{% for message in messages %}
            <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <b>Error! </b>{{ message }}
</div>
{% endfor %}
    <!-- navbar-->
    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header"><a href="{% url 'Dashboard' %}" class="navbar-brand">
            <img src="{% static 'dashboard/logo.png' %}" alt="APKWEB" height="38px" width="105px"></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'Dashboard' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'insurance' %}">Insurance</a></li>
                  <li><a href="{% url 'mobileperks' %}">Mobile Perks</a></li>
                  <li><a href="{% url 'kisan_shakti_kendra' %}">Kisan Shakti Kendra</a></li>
                  <li><a href="{% url 'onlineCampaign' %}">Online Campaigns</a></li>
                  <li><a href="{% url 'securecare' %}">Secure Care</a></li>
                  <li><a href="{% url 'apkeducation' %}">APK Education</a></li>
                  <li><a href="https://app.apkperks.com/">APKPERKS CSP</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'report' 'Daily_report' %}">Daily Report</a></li>
                  <li><a href="{% url 'report' 'Weekly_report' %}">Weekly Report</a></li>
                  <li><a href="{% url 'report' 'Monthly_report' %}">Monthly Report</a></li>
                  <li><a href="{% url 'report' 'Total_report' %}">Total Report</a></li>
                </ul>
              </li>
              <li><a href="{% url 'coming_soon' %}">Summary</a></li>
              <li><a href="{% url 'Contact' %}">Contact us</a></li>
            </ul>
            <a href="{% url 'logout_user' %}" class="btn navbar-btn btn-white pull-left"><i class="fa fa-user-circle" aria-hidden="true"></i>Logout</a>
          <a href="{% url 'Complaint' %}" style="margin-left: 20px;" class="btn navbar-btn btn-white pull-left">Register Complaint</a>
          </div>
        </div>
      </div>
    </header>
            <br><br>
      <div class="container">
          <ul class="breadcrumb">
            <li><a href="{% url 'Dashboard' %}">Home</a></li>
            <li><a href="{% url 'insurance' %}">Insurance</a></li>
            <li>Liability Insurance</li>
          </ul>
        </div>
        <section class="background-gray-lightest">
      <div class="container clearfix">
        <div class="row services">
          <div class="col-md-12">
            <div class="row">
                <h2>Liability Insurance: </h2>
              <div class="col-sm-4">
                <div class="box box-services">
                    <p><b>There are times in any individual’s life or the tenure of a business when they have to face legal problems that leads to penalty payments. Many insurance companies provide insurance policies to deal with these legal payouts which come under Liability Insurance. But these policies do not cover the payouts in the cases when claims are filed for intentional damages or regarding criminal offenses.<br>
Liability Insurance covers the finances of the insured person in case there are any legal liabilities faced by that person which in simple terms means protection against third-party claims. </b></p>
                  </div>
              </div>
                <div class="col-sm-8">
                    <div class="box box-sercices">
            <form role="form" method="post" id="reused_form" action="{% url 'Liability_insurance' %}" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Liability Insurance :</h2>
                    <p> Please provide your detail below: </p>
                    <div class="row">
                            <div class="col-sm-12 form-group">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name"> Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="mobile"> MOBILE NUMBER :</label>
                                <input type="text" class="form-control" id="mobile" name="mobile" maxlength="10" required>
                            </div>
                        </div>
                                 <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="companyname"> Company Name:</label>
                                <input type="text" class="form-control" id="companyname" name="companyname" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email"> Email Address :</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                                <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="city"> City :</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                            </div>
                                    </div>
                                   <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
                    </form>
                </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        </section>
                <section class="blog-post">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="post-content margin-bottom--big">
<h2>Why is Liability Insurance important?  </h2>
  <p>The reason for which the liability insurance is provided can result in financial losses and can affect the income of the person whom it affects. Hence, liability insurance insures the entity against these unwanted losses of funds. The liability insurance is offered based on the potential risk of the individual or the business. </p>
                <h3>Types of Liability Insurance: </h3>
                <ul>
                    <li>Public Liability</li>
                    <li>Product Liability</li>
                    <li>Commercial General Liability</li>
                    <li>Director and Officers Liabilities</li>
                    <li>Workmen Compensation/Employee Compensation</li>
                    <li>Shop  Package Policy</li>
                    <li>SME- Business Advantage Policy</li>
                    <li>Engineering Policy</li>
                    <li>Office Package Policy </li>
                </ul>
                <h3>Benefits of Liability Insurance:</h3>
                <ul>
                    <li>It covers any of the accidental injury caused to the person who is insured</li>
                    <li>It covers any type of damage caused to any other person or property</li>
                    <li>Protect the insured person against any legal activity or claims</li>
                    <li>It helps in minimizing the risk cost</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
                </section>
  <footer class="footer">
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>&copy; 2020 APKWEB AGGREGATOR</p>
            </div>
            </div>
          </div>
        </div>
    </footer>
    </body>

</html>
