{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Max Insurance Form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'form/form.css' %}" >
        <!--script src="{% static 'form/form.js' %}"></script -->
        <!-- Bootstrap CSS-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <!-- Font Awesome & Pixeden Icon Stroke icon font-->
    <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google fonts - Roboto Condensed & Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400">
    <!-- lightbox-->
    <link rel="stylesheet" href="{% static 'dashboard/css/lightbox.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'dashboard/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9] -->
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="home">
    <!-- navbar-->
    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header"><a href="{% url 'Dashboard' %}" class="navbar-brand">
            <img src="{% static 'dashboard/logo.png' %}" alt="APKWEB" height="38px" width="105px"></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'Dashboard' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'insurance' %}">Insurance</a></li>
                  <li><a href="{% url 'mobileperks' %}">Mobile Perks</a></li>
                  <li><a href="{% url 'kisan_shakti_kendra' %}">Kisan Shakti Kendra</a></li>
                  <li><a href="{% url 'onlineCampaign' %}">Online Campaigns</a></li>
                  <li><a href="{% url 'securecare' %}">Secure Care</a></li>
                  <li><a href="{% url 'apkeducation' %}">APK Education</a></li>
                  <li><a href="https://app.apkperks.com/">APKPERKS CSP</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'report' 'Daily_report' %}">Daily Report</a></li>
                  <li><a href="{% url 'report' 'Weekly_report' %}">Weekly Report</a></li>
                  <li><a href="{% url 'report' 'Monthly_report' %}">Monthly Report</a></li>
                  <li><a href="{% url 'report' 'Total_report' %}">Total Report</a></li>
                </ul>
              </li>
              <li><a href="{% url 'coming_soon' %}">Summary</a></li>
              <li><a href="{% url 'Contact' %}">Contact us</a></li>
            </ul>
            <a href="{% url 'logout_user' %}" class="btn navbar-btn btn-white pull-left"><i class="fa fa-user-circle" aria-hidden="true"></i>Logout</a>
          <a href="{% url 'Complaint' %}" style="margin-left: 20px;" class="btn navbar-btn btn-white pull-left">Register Complaint</a>
          </div>
        </div>
      </div>
    </header>
<br><br><div class="container">
          <ul class="breadcrumb">
            <li><a href="{% url 'Dashboard' %}">Home</a></li>
            <li><a href="{% url 'insurance' %}">Insurance</a></li>
            <li>Motor Insurance</li>
          </ul>
        </div><br>
        <div class="container">
            <form role="form" method="post" id="reused_form" action="{% url 'Motor_insurance' %}" enctype="multipart/form-data">
             {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Motor Insurance</h2>
                            <div class="col-sm-12 form-group">
                                  <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="Veh_name"> Vehicle Name :</label>
                                <input type="text" class="form-control" id="veh_name" name="veh_name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="Veh_year"> Model Year :</label>
                                <input type="text" class="form-control" id="veh_year" name="veh_year" required>
                            </div>
                        </div>
                                <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="Veh_reg"> Registration No. :</label>
                                <input type="text" class="form-control" id="veh_reg" name="veh_reg" required>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="Veh_engine"> Engine No. :</label>
                                <input type="text" class="form-control" id="veh_engine" name="veh_engine" required>
                            </div>
                                </div>
                                <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="Veh_chasis"> Chasis No. :</label>
                                <input type="text" class="form-control" id="Veh_chasis" name="Veh_chasis" required>
                            </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label for="rc_image"> R.C Image :</label>
                                    <input class="input-file" type="file" id="rc_image" name="rc_image" required>
                                </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="pre_insurance"> Previous Policy :</label>
                                    <input class="input-file" type="file" id="pre_insurance" name="pre_insurance">
                                </div>
                                </div>
                                   <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                            </div>
                    </div>
                </div>
                    </form>
                </div>
    <footer class="footer">
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>&copy; 2020 APKWEB AGGREGATOR</p>
            </div>
            </div>
          </div>
        </div>
    </footer>
    </body>

</html>
